@import "tailwindcss";

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  body {
    overflow-x: hidden;
    color: #0f172a;
    background-color: #f8fafc;
  }

  img {
    image-rendering: auto;
  }
}
